<%- layout("/layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/profile.css">
<body>
    <div class="container2">
        <div class="profile">
            <div class="profile-img">
                <img src=<%= currentUser.profile.url %> alt="" style="height:10rem; width:10rem; border-radius:50%; margin:15px; margin-right:20px;">
            </div>
            <div class="profile-info">
                <h3><%= currentUser.name %></h3>
                <p><big>@<%= currentUser.username %></big></p>
                <form action="/<%= currentUser.username %>/pfp" method="get">
                    <button class="btn form-btn">Upload Your Pic</button>
                </form>
            </div>
        </div>
    </div>

    <div class=" grid2 ">
        <% if (listings.length>0) { %>
            <div class="heading">
                <h4><%= listings.length %> listings posted by you!</h4>
            </div>
            <div class="grid">
                <% for(listing of listings) { %>
                    <div class="card col" style="width: 18rem;">
                        <!-- IMAGE  -->
                        <a href="/listings/<%= listing._id %>">
                            <img src=<%= listing.image.url %> class="card-img-top" alt="...">
                        </a>
                        <!-- CARD BODY  -->
                        <div class="card-body">
                            <!-- TITLE  -->
                            <h5 class="card-title"><%= listing.title %></h5>
                            <!-- PRICE  -->
                            <h6>&#8377;<%= listing.price.toLocaleString("en-IN") %></h6>
                            <!-- SEE DETAILS BUTTON  -->
                            <a href="/listings/<%= listing._id %>" class="btn btn-primary form-btn">See Details</a>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <div class="heading">
                <h4>No listings posted by you!</h4>
            </div>
            <div class="grid justify-content-center">
                <div class="container text-center justify-content-center">
                    <div class="row justify-content-center" style="padding-bottom: 1rem;">
                        <div class="col-6">
                            <h2 class="mt-4">Oops!</h2>
                            <h3>You haven't started yet.</h3>
                            <a href="/listings/new" class="btn btn-primary mt-4 form-btn">Lodgelink your first listing</a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</body>


