<%- layout("/layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/form.css">
<body>
    <form action="/listings/<%= editlist._id %>?_method=PUT" method="post" class="new-form" enctype="multipart/form-data">
        <!-- FORM TITLE  -->
        <h3>Edit your Listing!</h3>
        <!-- TITLE  -->
        <div class="mb-3">
            <label for="title" class="form-label title">Title<span>*</span></label>
            <input type="text" class="form-control" id="title" name="title" value="<%=editlist.title%>">
            <div class="title-err error no-display">
                <i class="fa-solid fa-circle-exclamation"></i> Please give your listing a title!
            </div>
        </div>
        <!-- DESCRIPTION  -->
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control"><%=editlist.description%></textarea>
        </div>
        <!-- IMAGE URL  -->
        <div class="row mb-3">
        <div class="col">
            <label for="oriimg" class="form-label">Original Image</label><br>
            <img src=<%= newURL %> alt="" id="oriimg" name="oriimg">
        </div>
        <div class="col">
            <label for="img" class="form-label">Upload New Image</label>
            <input type="file" class="form-control" id="imag" name="img">
        </div>
        </div>
        <div class="row mb-3">
            <!-- PRICE  -->
            <div class="col">
                <label for="price" class="form-label">Price<span>*</span></label>
                <input type="number" class="form-control" id="price" name="price" value="<%=editlist.price%>">
                <div class="price-err error no-display">
                    <i class="fa-solid fa-circle-exclamation"></i>  Please enter valid Price!
                </div>
            </div>
            <!-- COUNTRY  -->
            <div class="col">
                <label for="country" class="form-label">Country<span>*</span></label>
                <input type="text" class="form-control" id="country" name="country" value="<%=editlist.country%>">
                <div class="coun-err error no-display">
                    <i class="fa-solid fa-circle-exclamation"></i>  Please enter valid Country Name!
                </div>
            </div>
        </div>
        <!-- LOCATION  -->
        <div class="mb-3">
            <label for="location" class="form-label">Location<span>*</span></label>
            <input type="text" class="form-control" id="location" name="location" value="<%= editlist.location %>">
            <div class="loc-err error no-display">
                <i class="fa-solid fa-circle-exclamation"></i>  Please enter valid Location!
            </div>
        </div>
        <!-- COMPULSORY  -->
        <div class="span">Fields with * are not to be kept empty!</div>
        <button class="btn btn-primary form-btn">Edit</button>
    </form>
    <script src="/js/form.js"></script>
</body>
