<%- layout("/layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/index.css">
<body>
    <div class=" grid ">
        <% for(listing of alllistings) { %>
            <div class="card col" style="width: 18rem;">
                <!-- IMAGE  -->
                <a href="/listings/<%= listing._id %>">
                    <img src=<%= listing.image.url %> class="card-img-top" alt="...">
                </a>
                <!-- CARD BODY  -->
                <div class="card-body">
                    <!-- TITLE  -->
                    <h5 class="card-title"><%= listing.title %></h5>
                    <!-- PRICE  -->
                    <h6>&#8377;<%= listing.price.toLocaleString("en-IN") %></h6>
                    <!-- SEE DETAILS BUTTON  -->
                    <a href="/listings/<%= listing._id %>" class="btn btn-primary form-btn">See Details</a>
                </div>
            </div>
        <% } %>
    </div>
</body>
